# Prepare Package

In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from pandas.plotting import scatter_matrix

# Check and Preprocess Data

In [147]:
'''
pclass: A proxy for socio-economic status (SES)
 - 1st = Upper
 - 2nd = Middle
 - 3rd = Lower
age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5
sibsp: The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fiancés were ignored)
parch: The dataset defines family relations in this way...
 - Parent = mother, father
 - Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.
'''
train_data = pd.read_csv("/home/ines/titanic/dataset/train.csv")
test_data = pd.read_csv("/home/ines/titanic/dataset/test.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Name column

In [9]:
#titanic_data = pd.concat([train_data, test_data])
#titanic_data['Title'] = titanic_data['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)

In [148]:
def makeTitle(data):
    data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)

makeTitle(test_data)
makeTitle(train_data)

In [149]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [105]:
train_data['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Mlle          2
Col           2
Countess      1
Lady          1
Mme           1
Capt          1
Don           1
Sir           1
Jonkheer      1
Ms            1
Name: Title, dtype: int64

In [150]:
mr_mean = train_data[train_data['Title'] == 'Mr']['Age'].mean()
miss_mean = train_data[train_data['Title'] == 'Miss']['Age'].mean()
mrs_mean = train_data[train_data['Title'] == 'Mrs']['Age'].mean()
master_mean = train_data[train_data['Title'] == 'Master']['Age'].mean()
dr_mean = train_data[train_data['Title'] == 'Dr']['Age'].mean()
rev_mean = train_data[train_data['Title'] == 'Rev']['Age'].mean()
major_mean = train_data[train_data['Title'] == 'Major']['Age'].mean()
mlle_mean = train_data[train_data['Title'] == 'Mlle']['Age'].mean()
col_mean = train_data[train_data['Title'] == 'Col']['Age'].mean()

In [175]:
for data in test:
    if np.isnan(data[5]):
        print(data[5])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [176]:
test = np.array(train_data)

In [177]:
# NaN값은 이렇게 접근해야 한다고 한다.
for data in test:
    if np.isnan(data[5]):
        if data[12] == 'Mr':
            data[5] = round(mr_mean)
            #print("OK")
        if data[12] == 'Miss':
            data[5] = round(miss_mean)
            #print("OK")
        if data[12] == 'Mrs':
            data[5] = round(mrs_mean)
            #print("OK")
        if data[12] == 'Master':
            data[5] = round(master_mean)
            #print("OK")
        if data[12] == 'Dr':
            data[5] = round(dr_mean)
            #print("OK")
        if data[12] == 'Rev':
            data[5] = round(rev_mean)
            #print("OK")
        if data[12] == 'Major':
            data[5] = round(major_mean)
            #print("OK")
        if data[12] == 'Mlle':
            data[5] = round(mlle_mean)
            #print("OK")
        if data[12] == 'Col':
            data[5] = round(col_mean)
            #print("OK")

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [160]:
column_list = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title']

In [178]:
new = pd.DataFrame(test, columns=column_list)

In [179]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    object
 6   SibSp        891 non-null    object
 7   Parch        891 non-null    object
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    object
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Title        891 non-null    object
dtypes: object(13)
memory usage: 90.6+ KB

In [62]:
'''
train_data[train_data['Title']=='Mr']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Miss']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Mrs']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Master']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Dr']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Rev']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Major']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Mlle']['Age'].fillna(mr_mean)
train_data[train_data['Title']=='Col']['Age'].fillna(mr_mean)
'''

647    56.0
694    60.0
Name: Age, dtype: float64

In [90]:
train_data[train_data['Title']=='Mr']['Age'].fillna(mr_mean)

0      22.00000
4      35.00000
5      32.36809
6      54.00000
12     20.00000
         ...
881    33.00000
883    28.00000
884    25.00000
889    26.00000
890    32.00000
Name: Age, Length: 517, dtype: float64

In [107]:
round(mr_mean)

32.0

In [123]:
ss = train_data[train_data['Title']=='Mr']['Age'].replace(np.nan, round(mr_mean))

In [124]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          517 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Title        891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [113]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs

In [49]:
# null인데 mr인 사람
for data in train_data:
    if data['Age'] == None:
        if data['Title'] == 'Mr':
            data['Age'] = mr_mean
        if data['Title'] == 'Miss':
            data['Age'] = miss_mean
        if data['Title'] == 'Mrs':
            data['Age'] = mrs_mean
        if data['Title'] == 'Master':
            data['Age'] = master_mean
        if data['Title'] == 'Dr':
            data['Age'] = dr_mean
        if data['Title'] == 'Rev':
            data['Age'] = rev_mean
        if data['Title'] == 'Major':
            data['Age'] = major_mean
        if data['Title'] == 'Mlle':
            data['Age'] = mlle_mean
        if data['Title'] == 'Col':
            data['Age'] = col_mean

TypeError: string indices must be integers

In [ ]:
def makeTitle(data):
    data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)

In [ ]:
train_data['']

In [8]:
def TrainAndTestModel(model, X_train, y_train, X_test, y_test):
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    score = model.score(predictions)
    f1_score(y_test, predictions)

In [58]:
def makeTitle(data):
    data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)

In [55]:
for i in range(len(train_data)):
    print(train_data[i])

KeyError: 0